<?xml version="1.0" encoding="UTF-8"?>
<!--
 ! Copyright (c) Bedas
 ! All rights reserved.
 ! http://bedas.com.tr
 ! Template pack-jsf2-spring-conversation:src/main/webapp/WEB-INF/web.p.vm.xml
-->
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	metadata-complete="true">
	<!-- Remove classpath scanning (from servlet 3.0) in order to speed web container startup 
	metadata-complete="true" above + empty absolute ordering below	-->
	<absolute-ordering>
		<!-- Empty absolute ordering is necessary to completely disable classpath scanning -->
	</absolute-ordering>
	<context-param>
		<!-- The master configuration file for this Spring web application -->
		<!-- Context Configuration locations for Spring XML files -->
		<param-name>contextConfigLocation</param-name>
		<param-value>
			WEB-INF/cxf-servlet.xml
			WEB-INF/applicationContext.xml
			WEB-INF/applicationContext-web.xml
		</param-value>
	</context-param>
	<listener>
		<description>Bootstrap listener to start up and shut down Spring's root WebApplicationContext</description>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<description>Exposes the request to the current thread through both LocaleContextHolder and RequestContextHolder</description>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	
	<servlet>
		<servlet-name>CXFServlet</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>CXFServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<mime-mapping>
		<extension>js</extension>
		<mime-type>application/x-javascript</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>txt</extension>
		<mime-type>text/plain</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xml</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>
</web-app>